.hero-container {
  position: relative;
  text-align: center;
  padding: 6rem 2rem;
  overflow: hidden;
  border-radius: 16px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.hero-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.55;
  border-radius: 16px;
}

.hero-overlay {
  position: relative;
  z-index: 1;
  padding: 2rem;
  max-width: 800px;
  margin: 3rem auto 0 auto;
  color: #000;
}

.hero-overlay h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.hero-subtext {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  color: #353030;
  font-weight: 600;
}